<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>This is automated message from Image Uploader by Hard Worker.</h1>
<p>
  Please find attached users list.<br>
</p>

<p>Thanks and have a great day!</p>
</body>
</html>